@import 'bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

#root {
    min-height: 100vh;
    background: #eaf9fd;
    padding-bottom: 5rem;
}

