@import 'bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

#root {
    min-height: 100vh;
    background: #eaf9fd;
    padding-bottom: 5rem;
}

.newTaskCounter {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 22px;
    width: 22px;
    border-radius: 50%;
    background: tomato;
    line-height: 0;
    padding-bottom: 2px;
    font-weight: 900;
    font-size: 14px;
    color: #fff;
}