@import 'bootstrap/dist/css/bootstrap.min.css';

.newTaskCounter {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 22px;
    width: 22px;
    border-radius: 50%;
    background: tomato;
    line-height: 0;
    padding-bottom: 2px;
    font-weight: 900;
    font-size: 14px;
    color: #fff;
}

.listItem {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 0 15px;
    font-size: 20px;
    cursor: pointer;
}

.listItem.active {
    overflow: auto;
    white-space: break-spaces;
    word-break: break-all;
}

input[type="checkbox"] {
    width: 19px;
    height: 19px;
    margin-top: 8px;
}

.trash {
    height: 30px;
}